:root{
    --lilas-color: #B6A7FC;
    --white-color: #ffffff;
    --black-color: #000000;
    --orange-color: #FF9B3E;
    --gray-color: #DBDEEF;
    --background-color: #F6F6F6;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-sp-between{
    justify-content: space-between;
}

.background-color{
    background-color: var(--background-color);
}

.padding{
    padding: 2rem 10rem;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    margin-right: 3rem;
}

a{
    text-decoration: none;
    color: var(--black-color);
}